.as-hero {
  &__container {
    height: calc(100vh - var(--header-height));
    align-content: center;

    @media screen and (min-width: 576px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    @media screen and (min-height: 721px) {
      height: 640px;
    }

    @media screen and (min-width: 768px) {
      height: 100vh;
      justify-items: center;
    }
  }

  &__title {
    font-size: clamp(2.5rem, 5vw, 3rem);
    color: var(--text-color);
    margin-bottom: 0.5rem;
    margin-top: 8rem;
  }

  &__subtitle {
    font-size: clamp(1rem, 5vw, 1.25rem);
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;
    justify-self: center;

    @media screen and (min-width: 960px) {
      width: 500px;
    }
  }
}